/* Reset all white-space to 0 for consistency across browsers */
{
	margin:0px;
	padding:0px;
}

/* Get some padding between paragraphs and some line spacing */
p {
	margin-left:50px;
	margin-right:50px;
	font: 22px Arial, sans-serif;
	line-height:1.3em;
}

/* Bye bye ugly blue border */
a img {
	border:0px;
}

/* No dots around clicked links */
a, a:active {
	outline:none;
}

/* Class to any floated elements */
.clear {
	clear:both;
}

/* styles */

a {
	text-decoration:none;
}

a:link {
	color:#935a46;
}

a:visited {
	font-weight:bold;
	color:#42110d;
}

a:hover {
	color:#821917;
	text-decoration:underline;
}

hr {
/*	color:#B0B0B0; */
}

h1, h2, h3 {
/*	color:#0c5da5; */
	color:#6a2b26;
	margin-left:1em;
	font-size:3.0em;
}

.bold {
/*	color:#0c5da5; */
	color:#6a2b26;
	font-weight:bold;
}

.title {
	color:#6a2b26;
	font-size:3.0em;
	font-weight:bold;
	text-align:center;
}

/* structure */

body {
	background-color:#ffffff;
	padding:0px;
	/* always show the vertical scroll bar */
	overflow-y:scroll;
	max-width: 1200px;
	margin: auto;
}

/* header */

#header {
	background:#10100e;
	padding:0px;
	margin:0px;
	height:150px;
}

#header img {
	width:100%;
	/* avoid to scale up the image */
	max-width:1200px;
	height:auto;
}

/* lista */

.lista
{
	line-height:2.2em;
	margin-left:50px;
	margin-right:50px;
}

/* data */

.dati
{
	border-collapse:collapse;
	margin-left:50px;
	margin-right:50px;
}
.dati td
{
	border:1px solid black;
	text-align:left;
	padding:5px;
}
.dati th
{
/*	border:2px solid black; */
	font-size:1.1em;
	color:#6a2b26;
/*	padding:5px; */
	padding:5px;
	text-align:right;
}

